body{
    font-family: Arial, Helvetica, sans-serif;
}

#title{
    text-align: center;
}

.paragrafo1{
    text-align: center;
    color: grey;
    font-size: medium;
}

.paragrafo2{
    text-align: center;
    color: grey;
    font-size: medium;
}

a{
    direction: none;
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li{
    margin: 0px 10px 0px 10px;
    color: grey;
    font-weight: bold;
}

.link{
    color: red;
    text-decoration: none;
    font-weight: lighter;
}

#container1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    align-items: baseline;
}

#webdesign{
    font-weight: bold;
    color: black;
    background-color: gray;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#container2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
}

.box{
    width: 280px;
    margin-bottom: 10px;
}

img{
    width: 100%;
    object-fit: cover;
    margin-top: 15px;
    border-radius: 15px;
}

#popular{
    margin-right: 100px;
    border-radius: 5px;
    border: solid 2px pink;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 30px;
}

#filters{
    margin-left: 100px;
    padding-left: 100px;
    border-radius: 5px;
    border: solid 2px rgb(205, 203, 203);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 30px;
}

.menu-items{
    padding-left: 15px;
    padding-right: 15px;
    color: grey;
    font-size: medium;
}

.info-card{
    display: flex;
    flex-direction: row;
}

.info-card div{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.info-card>div:nth-child(1){
    justify-content: flex-start;
}

.info-card>div:nth-child(2){
    justify-content: flex-end;
}

.pro-team{
    font-weight: bold;
    color: white;
    background-color: gray;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 7pt;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 5px;
}

.designer{
    font-size: 7pt;
    font-weight: bold;
}

.foto-profilo{
    border-radius: 200px;
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
    margin-right: 5px;
}


.right{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.left{
    display: flex;
    align-items: center;
}

ion-icon{
    color: grey;
    margin-right: 2.5px;
}

#boosted{
    color: gray;
    font-weight: bold;
}

.details1{
    margin-right: 10px;
}
